# ---------------------------------------------
# Run the following in the terminal you normally run pip in:
# pip install -r requirements.txt
#         ------ OR -------
# conda install --file requirements.txt
# -----------------------------------------

autopep8
codecov
flake8
mypy
numpy
pre-commit
pygame

pytest
pytest-cov
requests
